body {
    font-family: "Gloria+Hallelujah", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1D4E69;
}
.hidden {
    visibility: hidden;
}
.header {
    text-align: center;
    width: 100%;
}
.header__logo {
    color: #cb3837;
    padding-right: 2px;
    font-size: 2.2rem;
    transition: all .3s ease-out;
}
.header__logo:hover {
    color: orange;
}
@media (min-width: 550px) {
    .header__logo {
        font-size: 3.1rem;
    }
}
@media (min-width: 900px) {
    .header__logo {
        font-size: 4rem;
    }
}
.header__title {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #FFF;
    margin: 18px 0;
}
@media (min-width: 550px) {
    .header__title {
        font-size: 2.5rem;
        margin: 60px 0 35px 0;
    }
}
@media (min-width: 900px) {
    .header__title {
        font-size: 3.5rem;
    }
}
.header__input {
    font-size: .7rem;
    width: 140px;
    margin-right: 10px;
    background-color: #26C9FF;
    border: none;
    padding: 5px;
    border-radius: 5px;
    transition: all .5s ease-out;
}
@media (min-width: 550px) {
    .header__input {
        font-size: .9rem;
        width: 240px;
    }
}
.header__input:hover {
    background-color: #FFF;
}
@media (min-width: 900px) {
    .header__input {
        width: 300px;
    }
}
.header span {
    color: #cb3837;
    font-weight: bold;
}
.btn {
    background-color: #cb3837;
    color: #1D4E69;
    padding: 6px 10px;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #7A0000;
    transition: all .4s ease-out;
    margin-bottom: 10px;

}
@media (min-width: 550px) {
    .btn {
        font-size: .9rem;
    }
}
.btn:hover {
    background-color: #C70A0A;
}
.btn:active {
    background-color: #cb3837;
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 2px;
}
.btn--marg {
    margin-right: 13px;
}
.btn--numbers {
    color: #cb3837;
    border-radius: 14px;
}
.btn--active {
    color: #1D4E69;
    background-color: #C70A0A;
}
.wrapper {
    max-width: 1236px;
    /*min-width: 480px;*/
    padding: 0 18px;
    margin: 0 auto;
}
.slider {
    position: relative;
    margin: 10px auto;
    border: 5px solid #1D4E69;;
    border-radius: 10px;
}
.slider__carousel {
    position: relative;
    overflow: hidden;
    border: none;
}
.slider__list {
    width: 30000em;
    left: 0px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1D4E69;
}
.slider__list::after {
    content: "";
    clear: both;
    display: block;
}
.item {
    float: left;
    display: list-item;
    padding-top: 30px;
    background-color: #1D4E69;

}
@media (min-width: 550px) {
    .item {
        padding-top: 70px;
    }
}
.item__content {
    list-style: none;
    padding: 15px;
    margin: 20px 20px 0;
    background-color: #26C9FF;
    border-radius: 10px;
    cursor: default;
    background-color: rgba(255, 255, 255, .65);
    box-shadow: 3.5px 3.5px 2px rgba(23, 51, 72, .85);
    transition: all .3s ease-out;
}
@media (min-width: 550px) {
    .item__content {
        margin: 20px;
    }
}
.item__content:hover {
    box-shadow: 6.5px 6.5px 4px rgba(23, 51, 72, .85);
}
.item__content p {
    margin-top: 10px;
    margin-bottom: 13px;
}
@media (min-width: 550px) {
    .item__content p {
        margin-bottom: 15px;
    }
}
.item__content P:last-child {
    margin-bottom: 0;
}
.item__imgContainer {
    text-align: center;
}
.item__photo {
    border-radius: 13px;
    border: 5px solid #1D4E69;
    width: 65%;
    height: 65%;
    margin: 0 auto -65px;
    position: relative;
    top: -65px;
}
@media (min-width: 550px) {
    .item__photo {
        width: 75%;
        height: 75%;
        margin: 0 auto -80px;
        top: -80px;
    }
}
@media (min-width: 900px) {
    .item__photo {
        width: 80%;
        height: 80%;
        margin: 0 auto -90px;
        top: -90px;
    }
}
.item__title {
    height: 50px;
    text-align: center;
    overflow: hidden;
    font-size: 1.3rem;
    text-align: center;
    color: #1D4E69;
    margin-bottom: 0;
    margin-top: 0;
}
@media (min-width: 550px) {
    .item__title {
        margin-top: 20px;
        height: 80px;
    }
}
.item a {
    color: #1D4E69;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all .3s ease-out;
}
@media (min-width: 550px) {
    .item a {
        font-size: 1.5rem;
    }
}
.item a:hover {
    color: #cb3837;
}
.item__description {
    height: 100px;
    padding: 3px;
    overflow: auto;
    border-radius: 7px;
    background: #1D4E69;
    margin-bottom: 30px;
    font-size: .8rem;
    color: #FFF;
    width: 94%;
    padding: 5px 10px;
    line-height: 1.1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 550px) {
    .item__description {
        height: 120px;
        width: 94%;
    }
}
.item__icons {
    color:#1D4E69;
    font-weight: bold;
}
.item i {
    padding-right: 15px;
    color: #1D4E69;
    font-size: .8rem;
}
@media (min-width: 550px) {
    .item i {
        font-size: 1rem;
    }
}
.item p {
    font-size: .8rem;
}
@media (min-width: 550px) {
    .item p {
        font-size: 1.05rem;
    }
}
.pageNav {
    text-align: center;
    margin-top: 13px;
}
